#produtos {
     width: 100%;
     height: auto;
     margin-top: 100px;
     padding-top: 20px;
     padding-bottom: 20px;
}

#produtos .titulo_produtos {
     color: #fb0100;
     font-weight: bolder;
     text-align: center;
     margin-top: 20px;
     margin-bottom: 50px;
}

#produtos .btn_consultar {
     width: 200px;
     height: auto;
     background-color: #fb0100;
     color: white;
     text-align: center;
     font-weight: bolder;
     padding: 10px 20px;
     border-radius: 5px;
     text-decoration: none;
     margin: 10px auto;
}

#produtos .card {
     border: 0px;
     border-radius: 0px;
     box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
}