body {}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background-color: #fb0100;
}

/* HEADER */

#header {}

#header .logo {
    width: 100px;
    height: 80px;
}

a.nav-link.active {
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bolder;
}

/* VITRINE */

#vitrine {
    width: 100%;
    height: auto;
    margin-top: 100px;
}

#vitrine .img_vitrine {
    width: 100%;
    height: auto;
    max-height: 450px;
}

/* SESSION INFORMACOES PAGAMENTO */

#informacoes-pagamento {
    background-color: #fb0100;
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

#informacoes-pagamento .svg-inline--fa {
    color: #fff;
    width: 45px;
    height: auto;
}

#informacoes-pagamento .descricao-forma-pagamento {
    color: #fff;
    font-size: 14px;
    font-weight: bolder;
    margin: 0px;
}

/* MARCAS PNEUS */

#marcas-pneus {
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

#marcas-pneus .titulo_marcas {
    color: #fb0100;
    font-weight: bolder;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}

#marcas-pneus .img_marcas {
    width: 100px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* PRODUTOS */

#produtos {
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

#produtos .titulo_produtos {
    color: #fb0100;
    font-weight: bolder;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

#produtos .btn_consultar {
    width: 200px;
    height: auto;
    background-color: #fb0100;
    color: white;
    text-align: center;
    font-weight: bolder;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin: 10px auto;
}

/* COMPONENTES */

.whatsapp {
    position: fixed;
    top: 86%;
    left: 93%;
    padding: 10px;
    z-index: 10000000;
}